[submodule "Core"]
	path = Core
	url = https://github.com/nirvanaos/Core.git
	branch = develop
[submodule "Port/Windows"]
	path = Port/Windows
	url = https://github.com/nirvanaos/Windows.git
	branch = develop
